[Unit]
Description=Create/update user services from templates
After=network.target

[Service]
Type=oneshot
ExecStart=/etc/auto-code-server/scripts/create-code-servers.sh
StandardOutput=journal
StandardError=journal
User=root
Group=root

# Sandboxing
NoNewPrivileges=yes
PrivateTmp=yes
ProtectSystem=strict
