# Environment variables for code-server
HOME=/home/%i
SHELL=/bin/bash
PATH=/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/snap/bin
XDG_RUNTIME_DIR=/run/user/%UID%
DBUS_SESSION_BUS_ADDRESS=unix:path=/run/user/%UID%/bus
USER=%i
LOGNAME=%i
CODESERVER_PORT=%CODESERVER_PORT_ENV_VAR%
