[Unit]
Description=Code Server for %i
After=network.target;

[Service]
Type=simple
User=%i
Group=%i

Environment="SHELL=/bin/bash"

ExecStart=/usr/bin/code-server \
  --bind-addr localhost:%CODESERVER_PORT% \
  --config /home/%i/.config/code-server/config.yaml \
  --auth password \
  --cert false

Restart=always

PrivateTmp=yes
ProtectSystem=strict

[Install]
WantedBy=default.target
